:root {
    --yellow: #f7df1d;
    --spacer: 2rem;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
}

* + *,
*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

a {
    color: #353535;
}

a:hover:not([href="#projects"]),
a:focus:not([href="#projects"]) {
    background-color: var(--yellow);
}

[href="#projects"] {
    text-decoration: none;
    cursor: text;
}

p {
    max-width: 33em;
}

p a {
    white-space: nowrap;
}

main {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "title about"
                         "contact about"
                         "contact projects";
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
}

#contact,
#page-header {
    background-color: var(--yellow);
    text-align: right;
    margin-right: var(--spacer);
}

#page-header {
    grid-area: title;
    padding: var(--spacer);
    white-space: nowrap;
}

.page-section {
    padding-right: var(--spacer);
    color: #353535;
}

#page-title {
    margin-bottom: 0;
}

#page-subtitle {
    font-size: 1rem;
}

#about {
    grid-area: about;
    margin-top: var(--spacer);
}

.section-title {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

#projects {
    grid-area: projects;
}

#projects-list > li {
    margin-top: calc(var(--spacer) * 2);
}

#projects-list > li:last-child {
    margin-bottom: calc(var(--spacer) * 2);
}

.project-title {
    margin-bottom: 1em;
    font-weight: normal;
}

.project-description {
    margin-bottom: 1em;
}

.project-built-with {
    display: flex;
}

.project-built-with-list,
.project-built-with-title {
    font-size: 0.8rem;
}

.project-built-with-title {
    font-weight: normal;
}

.project-built-with-list {
    display: flex;
    margin-left: 1em;
}

.project-built-with-list li + li::before {
    content: "+";
    text-align: center;
    margin: 0 0.5em;
    opacity: 0.5;
}

#contact {
    grid-area: contact;
}

#contact li {
    margin-bottom: 0.25em;
}

#contact a:hover,
#contact a:focus {
    background-color: #d5bd02;
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #contact,
    #page-header {
        margin-right: 0;
    }

    .page-section {
        padding-left: var(--spacer);
        padding-right: var(--spacer);
    }

    #about,
    #projects {
        width: 100%;
        max-width: 33em;
        margin-left: auto;
        margin-right: auto;
    }

    .project-built-with {
        display: block;
    }

    .project-built-with-title {
        margin-bottom: 1em;
    }

    .project-built-with-list {
        margin-left: 0;
    }

    #contact {
        margin-top: var(--spacer);
        padding: var(--spacer);
    }

    #contact .section-title {
        display: block;
        font-size: 1rem;
    }
}
